<table class="table table-condensed">
    <thead>
        <tr>
            <th>Item #</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($items as $item): ?>
        <tr>
            <td><?= $item->id ?></td>
            <td><?= $item->name ?></td>
            <td><?= $item->price ?></td>
            <td><?= $item->qty ?></td>
            <td><?= $item->subtotal ?></td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
