<div class="{{ mainImageContainerClass }}">
    {% if product.images|length == 0 %}
        <img class="{{ imageClass }}" alt="{{ product.title }}"
             src="http://placehold.it/179/179" />
    {% else %}
        <!-- HERE BE DRAGONS! -------------------------------------------------->
        <!-- This is a dirty hack. There is really only one image, but with   -->
        <!-- $product->image = $product->images->first() in the model, we get -->
        <!-- a "Call to member function on non-object" error, despite it      -->
        <!-- being passed a File object.          Yeah... Don't ask. No idea. -->
        {% for image in product.images %}
        <img class="{{ imageClass }}" alt="{{ product.title }}"
             src="{{ product.getSquareThumb(179, image) }}" />
        {% endfor %}
    {% endif %}

    <div class="{{ detailContainerClass }}">
        <a href="{{ product.url }}">
            <h4 title="{{ product.title }}">{{ product.title }}</h4>
        </a>
        <div class="{{ rowClass }}">
            <div class="{{ priceContainerClass }}">
                <h5 class="{{ priceClass }}">&pound;{{ product.price }}</h5>
            </div>
            <div class="{{ addButtonContainerClass }}">
                <button type="submit" class="{{ addButtonClass }}"
                    data-request="{{ basketComponent }}::onAddProduct"
                    {% if basketContainer %}
                    data-request-update="'{{ basketPartial }}' : '{{ basketContainer }}'"
                    {% endif %}
                    data-request-data="id: {{ product.id }}, quantity: 1"
                >
                    {{ addButtonText }}
                </button>
            </div>
        </div>
    </div>
</div>
