<p>You have {{ basketCount }} item(s) in your basket!</p>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty.</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in basketItems %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><strong>Total:</strong> &pound;{{ basketTotal }}</p>
