<table class="{{ tableClass }}">
    <thead>
        <tr>
            <th class="{{ nameColClass }}">Product</th>
            <th class="{{ qtyColClass }}">Qty.</th>
            <th class="{{ priceColClass }}">Price</th>
            <th class="{{ subtotalColClass }}">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in basketItems %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.subtotal }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <strong class="{{ totalLabelClass }}">Total:</strong>
            </td>
            <td>&pound;{{ basketTotal }}</td>
        </tr>
    </tbody>
</table>
