<div class="row">
    <div class="col-md-6">
        <img class="img-rounded" src="http://placehold.it/500/500" />
    </div>
    <div class="col-md-6">

        <h2>{{ product.title }}</h2>
        
        {{ product.description|raw }}

        <form
            data-request="shopBasket::onAddProduct"
            data-request-update="'shopBasket::default' : '#basket'"
            data-request-data="id: {{ product.id }}"
        >
            <div class="row">
                <div class="col-md-3">
                    <p class="text-primary lead">
                        <strong>&pound; {{ product.price }}</strong>
                    </p>
                </div>
                <div class="col-md-4">
                    <label class="sr-only" for="qty">Quantity</label>
                    <div class="input-group product-qty">
                        <input type="number" class="form-control"
                            name="quantity" placeholder="Qty"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                </div>
            </div>
        </form>

    </div>
</div>
