<div class="row">
    <div class="col-md-6">
        <img class="img-rounded" src="http://placehold.it/500/500" />
    </div>
    <div class="col-md-6">

        <h2>{{ product.title }}</h2>
        
        {{ product.description|raw }}

        <form>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-primary lead">
                        <strong>&pound; {{ product.price }}</strong>
                    </p>
                </div>
                <div class="col-md-4">
                    <label class="sr-only" for="qty">Quantity</label>
                    <div class="input-group product-qty">
                        <input type="text" class="form-control" id="qty" name="qty" placeholder="Qty">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-danger qtymod" data-direction="dn">
                                <i class="icon icon-minus"></i>
                            </button>
                            <button type="button" class="btn btn-warning qtymod" data-direction="up">
                                <i class="icon icon-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                </div>
            </div>
        </form>

    </div>
</div>
