<div class="{{ rowClass }}">
    <div class="{{ imagesetContainerClass }}">
        <div class="{{ rowClass }}">
            {% for image in product.images %}
            {% if image.sort_order == '1' %}
                {% set imageContainerClass = mainImageContainerClass %}
                {% set imageSize = mainImageSize %}
            {% else %}
                {% set imageContainerClass = subImageContainerClass %}
                {% set imageSize = subImageSize %}
            {% endif %}

            <div class="{{ imageContainerClass }}">
                <a href="{{ image.getPath() }}" class="{{ imageLinkClass }}">
                    <img class="{{ imageClass }}" alt="{{ product.title }}"
                         src="{{ product.getSquareThumb(imageSize, image) }}"
                    />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="{{ detailContainerClass }}">

        <h2>{{ product.title }}</h2>
        
        {{ product.description|raw }}

        <form
            data-request="{{ basketComponent }}::onAddProduct"
            {% if basketContainer %}
            data-request-update="'{{ basketPartial }}' : '{{ basketContainer }}'"
            {% endif %}
            data-request-data="id: {{ product.id }}"
        >
            <div class="{{ rowClass }}">
                <div class="{{ priceContainerClass }}">
                    <p class="{{ priceClass }}">
                        <strong>&pound; {{ product.price }}</strong>
                    </p>
                </div>
                <div class="{{ qtyContainerClass }}">
                    <label class="{{ qtyLabelClass }}" for="qty">Quantity</label>
                    <div class="{{ qtyWrapperClass }}">
                        <input min="1" max="9999" value="1" type="number" class="{{ qtyClass }}"
                            name="quantity" placeholder="Qty"
                        >
                    </div>
                </div>
            </div>
            <div class="{{ rowClass }}">
                <div class="{{ addButtonContainerClass }}">
                    <button type="submit" class="{{ addButtonClass }}">{{ addButtonText }}</button>
                </div>
            </div>
        </form>

    </div>
</div>
